<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" />
    <link href="~/lib/ligerUI/skins/Gray2014/css/all.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery-1.9.0.min.js"></script>
    <script src="~/lib/ligerUI/js/ligerui.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.metadata.js"></script>
    <script src="~/lib/jquery-validation/messages_cn.js"></script>
    <script src="~/lib/ligerUI/js/plugins/ligerDateEditor.js"></script>
    @RenderSection("scripts", required: false)
    <title>@ViewBag.Title</title>
    <script>
        $(function () {
            if (SetData) {
                SetData();
            }
        });
    </script>
</head>
<body style="padding:0px; overflow:auto;">
    <div>
        @RenderBody()
    </div>
</body>
</html>
