<?xml version="1.0"?>
<SiteParamConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EditorStyle>0</EditorStyle>
  <SiteRootURL />
  <SiteDomain />
  <SiteDir>main</SiteDir>
  <SiteTempletDir />
  <DisUserName>admin|administrator|system|operator|support|root|postmaster|webmaster|security</DisUserName>
  <CreateFileExt>shtml</CreateFileExt>
  <EditControl>CKEditor</EditControl>
  <LogType>0</LogType>
  <LogDir>C:/HQBCmslog/</LogDir>
  <SiteID>1</SiteID>
</SiteParamConfig>