<?xml version="1.0" encoding="utf-8"?>
<SiteSetting  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SiteInfoSetting>
    <!--网站名称-->
    <SiteName></SiteName>
    <!--网站标题-->
    <SiteTitle></SiteTitle>
    <!--网站地址-->
    <SiteURL></SiteURL>
    <!--版权信息-->
    <CopyRight></CopyRight>
    <!--Meta关键字-->
    <MetaKeywords></MetaKeywords>
    <!--Meta描述-->
    <MetaDescription></MetaDescription>
  </SiteInfoSetting>
  <SiteConfigSetting>
    <!--后台管理目录-->
    <ManageDir></ManageDir>
    <!--是否启用后台管理认证码-->
    <IsEnableManageCode></IsEnableManageCode>
    <!--后台管理认证码-->
    <ManageCode></ManageCode>
    <!--网站根域名-->
    <SiteRootURL></SiteRootURL>
    <!--网站生成目录-->
    <SiteDir></SiteDir>
    <!--网站模板根目录-->
    <SiteTempletDir></SiteTempletDir>
    <!--禁止注册的用户名-->
    <DisUserName></DisUserName>
  </SiteConfigSetting>
  <PostSetting>
    <!--发送人邮箱-->
    <Email></Email>
    <!--发送人邮箱密码-->
    <Password></Password>
    <!--SMTP服务器-->
    <SmtpServer></SmtpServer>
    <!--端口号-->
    <Port></Port>    
  </PostSetting>
  <UploadSetting>
    <!--图片域名，不填写则为默认域名-->
    <ImageUrl></ImageUrl>
    <!--图片保存路径-->
    <ImageSavePath>UploadFiles/Images</ImageSavePath>
    <!--文件域名，不填写则为默认域名-->
    <FileUrl></FileUrl>
    <!--文件保存路径-->
    <FileSavePath>UploadFiles/Files</FileSavePath>
    <!--视频域名，不填写则为默认域名-->
    <MediaUrl></MediaUrl>
    <!--文件保存路径-->
    <MediaSavePath>UploadFiles/Medias</MediaSavePath>
    <!--是否允许上传，0=否，1=是-->
    <IsEnableUpload>1</IsEnableUpload>
    <!--上传使用控件，upload.aspx=使用vs上传控件，neatupload.aspx=使用neatupload上传控件-->
    <UploadControl>upload.aspx</UploadControl>
    <!--允许上传的最大图片大小-->
    <UploadImageSize>1024</UploadImageSize>
    <!--允许上传的最大文件大小-->
    <UploadFilesSize>2048</UploadFilesSize>
    <!--允许上传的文件类型-->
    <UploadFilesType>doc|docx|xls|ppt|wps|zip|rar|txt|jpg|jpeg|gif|bmp|swf|png|flv|swf|rm|html|htm</UploadFilesType>
    <!--允许上传的最大视频大小-->
    <UploadMediaSize>10240</UploadMediaSize>
    <!--允许上传的视频类型-->
    <UploadMediaType>.rm|.mp3|.wav|.mid|.midi|.ra|.avi|.mpg|.mpeg|.asf|.asx|.wma|.mov|.flv|.swf</UploadMediaType>
    <!--允许上传的图片类型-->
    <UploadImageType>jpg|jpeg|gif|bmp|png</UploadImageType>
    <!--缩略图宽度-->
    <ThumbnailWidth>120</ThumbnailWidth>
    <!--缩略图高度-->
    <ThumbnailHeight>120</ThumbnailHeight>
    <!--是否启用水印功能，1=是，0=否-->
    <IsEnableWatermark>1</IsEnableWatermark>
    <!--水印类型，0=文字，1=图片-->
    <WatermarkType>0</WatermarkType>
    <!--水印图片路径-->
    <WatermarkPic>Images/logo.gif</WatermarkPic>
    <!--水印文字-->
    <WatermarkText>华强北在线</WatermarkText>
    <!--水印文字大小-->
    <WatermarkFontSize>14</WatermarkFontSize>
    <!--水印字体类型-->
    <WatermarkFontType>黑体</WatermarkFontType>
    <!--水印字体样式，0=正常，1=粗体，2=斜体，4=下划线，8=中间有直线通过的文本-->
    <WatermarkFontStyle>1</WatermarkFontStyle>
    <!--水印字体边框大小，0表示没有边框-->
    <WatermarkFontType>1</WatermarkFontType>
    <!--水印字体边框颜色-->
    <WatermarkFontType>CC0000</WatermarkFontType>
    <!--水印字体颜色-->
    <WatermarkTextSize>FFFFFF</WatermarkTextSize>
    <!--水印透明度-->
    <WatermarkTransparency>80</WatermarkTransparency>
    <!--水印位置，0=居中，1=左上，2=左下，3=右上，4=右下-->
    <WatermarkLocation>0</WatermarkLocation>
   </UploadSetting>
</SiteSetting>
