A
{
	text-decoration: none;
	font-size: 13px;
}
A:hover {
	TEXT-DECORATION: underline
}

A.black {
	COLOR: #000; TEXT-DECORATION: none
}
A.black:hover {
	TEXT-DECORATION: underline
}
A.white {
	COLOR: #fff; TEXT-DECORATION: none
}
A.white:hover {
	TEXT-DECORATION: underline
}

table.whiteColor
{
	background-color: #ffffff;
}
span
{
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
}
