<!DOCTYPE HTML SYSTEM "-//Macromedia//DWExtension layout-engine 5.0//dialog">
<html>
<head>
 <meta http-equiv="Content-Type"  content="text/html; charset=utf-8"  />
<title>插入{HQB_SYSTEM_顶部二级导航纵向}</title>
 <script src="../HQB模板管理/SystemLable.js" type="text/javascript"></script>
<script type="text/javascript">
function commandButtons() {
return new Array("插入标签", "objectTag(1)",  "取消", "window.close()")
}
</script>
</head>
<body>
<form name="theform" method="post" action="">
<table width="450" border="0" align="center" cellpadding="4" cellspacing="1">
<tr><td align="right"> 标签类型</td><td><select id='Type'> <option value='1' selected='selected'>网站总栏目导航</option> </select></td></tr>
<tr><td align="right"> 导航类型</td><td> <select id='IsWordMenu'> <option value='1' selected='selected'>文字类型</option> <option value='0'  >图片类型</option></select></td></tr>
<tr><td align="right"> 是否显示二级栏目</td><td><input id='IsBothMenu' readonly="readonly"  type='checkbox' checked='checked'/>&nbsp;&nbsp;显示方式 <select id='ShowType'> <option value='1' >横向</option> <option value='2'  selected='selected'>纵向</option></select> </td></tr>
</table>
</form>
</body>
</html>
