<?xml version="1.0" encoding="utf-8"?>
<root>
  <LoginDate>2010-10-14 9:43:03</LoginDate>
  <LoginDate>2010-6-10 11:12:51</LoginDate>
  <Ip>127.0.0.1</Ip>
  <LastLoginDate>2010-10-13 22:46:44</LastLoginDate>
=======
  <LastLoginDate>2010-6-10 9:27:49</LastLoginDate><LastLoginIp>127.0.0.1</LastLoginIp><LoginCount>353</LoginCount>
=======
  <LoginCount>229</LoginCount><UserGropName>超级管理员</UserGropName><Position>c1:4@5@3@|c2:2@1@6@|</Position><Morandum>1230
sadf
sdfgfds</Morandum></root>