<?xml version="1.0"?>
<CountSetConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IsShowToTalCount>false</IsShowToTalCount>
  <IsShowTodayCount>false</IsShowTodayCount>
  <ShowType>0</ShowType>
  <TotalStart>0</TotalStart>
  <TodayStart>0</TodayStart>
  <TotalCount>0</TotalCount>
  <TodayCount>0</TodayCount>
  <date>2011-3-21</date>
</CountSetConfig>