div {
	padding:0px;
	margin:0px;
}

body
{
	padding: 0px;
	margin: auto;
	text-align: center;
	background-color: #66ccff;
}

dl.bitem {
	width:148px;
	margin:0px 0px 5px 4px;
}

dl.bitem dt {
  background:url(../images/frame/menubg - ¸±±¾.gif);
  height:26px;
  line-height:26px;
  text-align:center;
  cursor:pointer;
}

dl.bitem dd {
  padding:3px 3px 3px 3px;
  background-color:#fff;
}

.fllct
{
	float:left;
	
	width:90px;
}

.flrct
{
	padding-top:3px;
	float:left;
}

div.items
{
	line-height:22px;
	background:url(../images/frame/arr4.gif) no-repeat 10px 9px;
}

span.items
{
	padding:10px 0px 10px 22px;
	background:url(../images/frame/arr4.gif) no-repeat 10px 12px;
}

ul {
  padding-top:3px;
}

li {
  height:22px;
}

.sitemu li {
	padding:0px 0px 0px 22px;
	line-height:24px;
	background:url(../images/frame/arr4.gif) no-repeat 10px 9px;
}