@using WebApp.Models;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="~/Content/frame.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //顶部导航切换
            $(".nav li a").click(function () {
                $(".nav li a.selected").removeClass("selected")
                $(this).addClass("selected");
            });
        });
       
    </script>
    <style type="text/css">
        #skinSelect {
            margin-right: 6px;
        }
    </style>
</head>
<body style="background:url(/Content/images/topbg.gif) repeat-x;">
    <div class="topleft">
        <a href="main.html" target="_parent"><img src="/Content/images/logo.png" title="系统首页" /></a>
    </div>
    <ul class="nav">
        @*<li><a href="default.html" target="rightFrame" class="selected"><img src="/Content/images/icon01.png" title="工作台" /><h2>工作台</h2></a></li>
        <li><a href="imgtable.html" target="rightFrame"><img src="/Content/images/icon02.png" title="模型管理" /><h2>模型管理</h2></a></li>
        <li><a href="imglist.html" target="rightFrame"><img src="/Content/images/icon03.png" title="模块设计" /><h2>模块设计</h2></a></li>
        <li><a href="tools.html" target="rightFrame"><img src="/Content/images/icon04.png" title="常用工具" /><h2>常用工具</h2></a></li>
        <li><a href="computer.html" target="rightFrame"><img src="/Content/images/icon05.png" title="文件管理" /><h2>文件管理</h2></a></li>
        <li><a href="tab.html" target="rightFrame"><img src="/Content/images/icon06.png" title="系统设置" /><h2>系统设置</h2></a></li>*@
    </ul>
    <div class="topright">
        <ul>
            <li>
                <div class="l-topmenu-welcome">
                    <label> 皮肤切换：</label>
                    <select id="skinSelect">
                        <option value="aqua">默认</option>
                        <option value="silvery">Silvery</option>
                        <option value="gray">Gray</option>
                        <option value="gray2014">Gray2014</option>
                    </select>
                </div>
            </li>
            <li><span><img src="/Content/images/help.png" title="帮助" class="helpimg" /></span><a href="#">帮助</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="/login" target="_parent">退出</a></li>
        </ul>
        <div class="user">
            @{ var user = User as BaseUser;}
            <span>@user.UserName</span>
            <i>消息</i>
            <b>0</b>
        </div>
    </div>
</body>
</html>
