<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>index</title>
<link href="/skins/css/header.css" rel="stylesheet" type="text/css" />
<link href="/skins/css/index.css" rel="stylesheet" type="text/css" />
<link href="/skins/css/menu.css" rel="stylesheet" type="text/css" />
<script src="/skins/js/tab.js" type="text/javascript"></script>
<script src="/skins/js/hidden.js" type="text/javascript"></script>
<script type="text/javascript" src="/skins/js/chrome.js"></script>
<script src="DWConfiguration/ActiveContent/IncludeFiles/AC_RunActiveContent.js" type="text/javascript"></script>
</head>
<body>
<!-- 头部 -->
<div class="tophead">
	<div class="logo"><img src="/skins/images/logo.gif" width="396" height="64" /></div>
    <div class="lanuage">
    	<div class="lanuage_topbj"><img src="/skins/images/lanuage_topbj.gif" width="10" height="18" /></div>
        <div class="lanuage_middlebj">
        	<ul>
            	<li><a href="#"><span>English</span></a></li>
                <li><a href="#"><span>Japanese</span></a></li>
                <li><a href="#"><span>Korean</span></a></li>
            </ul>
        </div>
        <div class="lanuage_btnbj"><img src="/skins/images/lanuage_btnbj.gif" width="10" height="18" /></div>
    </div>
</div>
<!-- 头部end -->

<!-- 导航 -->
<div class="nav">
     {HQB_L009_top菜单 LableType="SYSTEM"}		
        <div class="nav_middlebj">
    	<div class="dh_servertopbj"><img src="/skins/images/dhserver_topbj.gif" width="5" height="22" /></div>
        <div class="dh_serverbj"><input style="width:160px; height:22px; background:url(/skins/images/dhserver_middlebj.gif) repeat-x; border:1px #000 none; _margin-top:-1px;" name="" type="text"  value="--请输入关键字--"onmouseover=this.focus();this.select();  onClick="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value) {value=defaultValue;this.style.color='#666'}"/></div>
        <div class="dh_serverbtnbj"><a href="#"><img src="/skins/images/dh_serverbtn.gif" width="24" height="22" /></a></div>
        <div class="dh_livebtn"><input name="" type="image" src="/skins/images/dh_livebtn.gif" /></div>
    </div>
    <div class="nav_btnbj"><img src="/skins/images/dh_btnbj.gif" width="5" height="32" /></div>
</div>
<!-- 导航end -->

<!-- banner -->
<div class="banner"><img src="/skins/images/flash.gif" width="850" height="253" /></div>

<!-- 内容 -->
<div class="middlebody">
    <!-- 产品transceiver系列 -->
	<div class="cpbj_trans">
    	<div class="product_name">
        	<li><a href="#"><span>MCU SFP,</span></a></li>
            <li><a href="#"><span>MCU BIDI SFP,SFP+,</span></a></li>
            <li><a href="#"><span>CWDM,DWDM,</span></a></li>
            <li><a href="#"><span>XENPAK,X2 and</span></a></li>
        </div>
        <div class="more"><a href="#"><span style="font-family:Arial; font-size:11px; color:#000; line-height:20px; text-decoration:underline;">More.</span></a></div>
    </div>
    
     <!-- 产品PON products系列 -->
	 <div class="cpbj_pon">
    	<div class="product_name">
        	<li><a href="#"><span>EPON ONU,</span></a></li>
            <li><a href="#"><span>EPON OLT,</span></a></li>
            <li><a href="#"><span>GPON ONU, GPON OLT,</span></a></li>
            <li><a href="#"><span>10G EPON, 10G GPON and</span></a></li>
        </div>
        <div class="more"><a href="#"><span style="font-family:Arial; font-size:11px; color:#000; line-height:20px; text-decoration:underline;">More.</span></a></div>
     </div>
     
      <!-- 产品Devices系列 -->
	  <div class="cpbj_devices">
    	<div class="product_name">
        	<li><a href="#"><span>TOSA,</span></a></li>
            <li><a href="#"><span>ROSA,</span></a></li>
            <li><a href="#"><span>BOSA,</span></a></li>
            <li><a href="#"><span>Butterfly.</span></a></li>
        </div>
        <div class="more"><a href="#"><span style="font-family:Arial; font-size:11px; color:#000; line-height:20px; text-decoration:underline;">More.</span></a></div>
      </div>
      
      <!-- 产品FTTX Products系列 -->
	  <div class="cpbj_fttx">
    	<div class="product_name">
        	<li><a href="#"><span>PLC Splitters,</span></a></li>
            <li><a href="#"><span>CWDM Products, Tap Photo,</span></a></li>
            <li><a href="#"><span>Detector,PM Products,</span></a></li>
            <li><a href="#"><span>MEMS VOA, Isolator</span></a></li>
        </div>
        <!--<div class="more"><a href="#"><span style="font-family:Arial; font-size:11px; color:#000; line-height:20px; text-decoration:underline; white-space:nowrap; overflow:hidden;">More.</span></a></div>-->
      </div>
</div>
<!-- 内容end -->

<!-- 底部 -->
<div class="btnfoot">
	<div class="foot_topbj"><img src="/skins/images/copy_topbj.gif" width="5" height="154" /></div>
    <div class="foot_middlebj">
    	<div class="foot_company">
        	<div class="foot_companyTitlt"><img src="/skins/images/copy_company.gif" width="70" height="13" /></div>
            <div class="foot_companyname">
            	<li><a href="#"><span>Overview</span></a></li>
                <li><a href="#"><span>News and Events</span></a></li>
                <li><a href="#"><span>Facility</span></a></li>
                <li><a href="#"><span>Research and Certification</span></a></li>
                <li><a href="#"><span>Culture</span></a></li>
            </div>
        </div>
        
        <div class="foot_products">
        	<div class="foot_companyTitlt"><img src="/skins/images/copy_products.gif" width="70" height="13" /></div>
            <div class="foot_productsname">
            	<li><a href="#"><span>Transceiver</span></a></li>
                <li><a href="#"><span>PON Products</span></a></li>
                <li><a href="#"><span>Devices</span></a></li>
                <li><a href="#"><span>FTTX Products</span></a></li>
                <li><a href="#"><span>How to buy</span></a></li>
            </div>
        </div>
        
        <div class="foot_products">
        	<div class="foot_companyTitlt"><img src="/skins/images/copy_support.gif" width="70" height="13" /></div>
            <div class="foot_productsname">
            	<li><a href="#"><span>Policy and</span></a></li>
                <li><a href="#"><span>Services</span></a></li>
                <li><a href="#"><span>Frequently Q & A</span></a></li>
                <li><a href="#"><span>Technical Support</span></a></li>
            </div>
        </div>
        
        <div class="foot_products">
        	<div class="foot_companyTitlt"><img src="/skins/images/copy_contacts.gif" width="70" height="13" /></div>
            <div class="foot_productsname">
            	<li><a href="#"><span>Sales & Service</span></a></li>
                <li><a href="#"><span>Partners</span></a></li>
                <li><a href="#"><span>Location</span></a></li>
                <li><a href="#"><span>Live Chat</span></a></li>
            </div>
        </div>
        
        <div class="foot_products">
        	<div class="foot_downloadTitlt"><img src="/skins/images/copy_download.gif" width="80" height="13" /></div>
            <div class="foot_productsname">
            	<li><a href="#"><span>Technical Material</span></a></li>
                <li><a href="#"><span>Product Catalogue</span></a></li>
                <li><a href="#"><span>Datasheet</span></a></li>
                <li><a href="#"><span>Sitemap</span></a></li>
            </div>
        </div>
    </div>
    <div class="foot_topbj"><img src="/skins/images/copy_btnbj.gif" width="5" height="154" /></div>
</div>
<!-- 底部end -->
<!-- 版权 -->
<div class="copyright">
	<div class="copyright_topbj"><img src="/skins/images/copyright_topbj.gif" width="5" height="51" /></div>
    <div class="copyright_middlebj">
    	<div class="copyright_logo"><img src="/skins/images/copyright_logo.gif" /></div>
        <div class="copyright_nav">
        	<div class="copyright_navtop"><a href="index.html"><span style="color:#828181">Home</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="产品中心/产品Transceiver.html"><span style="color:#828181">Products</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="支持服务/支持-suppert.html"><span style="color:#828181">Trial Service</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><span style="color:#828181">Privacy</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><span style="color:#828181">Statement</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="联系我们/联系我们.html"><span style="color:#828181">Cotacts</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="产品中心/产品howtobuy.html"><span style="color:#828181">How to buy </span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><span style="color:#828181">Sitemap</span></a></div>
            <div class="copyright_navbtn">COPYRIGHT 2003-2010 INGELLEN THCHNOLOGY CO . LTD ALL RIGHT RESERVED.</div>
        </div>
    </div>
    <div class="copyright_topbj"><img src="/skins/images/copyright_btnbj.gif" width="5" height="51" /></div>
</div>
<!-- 版权end -->
</body>
</html>