<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="conStr" connectionString="Data Source=39.108.126.47,1433;Initial Catalog=beihangStudent;User ID=sa;Password=lvcc" />
  </connectionStrings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="jiaofeibaobei.aspx" />
                <add value="xuanti.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
<!--ProjectGuid: 23DA9CB0-A5D0-43C9-9865-55E51865D4F6-->