#cal
{
    width: 100%;
    border: 1px solid #c3d9ff;
    font-size: 12px;  
}
#cal #top
{
    height: 20px;
    line-height: 20px;
    background: #e7eef8;
    color: #003784;
    text-align:center;
    
}
#cal #top select
{
    font-size: 12px;
}
#cal #top input
{
    padding: 0;
}
#cal ul#wk
{
    margin: 0;
 
    height: 20px;
    padding-top:5px;
}
#cal ul#wk li
{
    float: left;
    width: 14%;
    text-align: center;
  
    list-style: none;

}
#cal ul#wk li b
{
    font-weight: normal;
    color: #c60b02;
}
#cal #cm
{   
    clear: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px dotted #ddd;
    position: relative; 
}
#cal #cm .cell
{ 
    position: absolute;
    width: 72px;
    height: 20px;   
    text-align:center;    
    margin-left:1px;
   
}
#cal #cm .cell .so
{ 
    font: 14px arial;
   
}
#cal #cm .cell .ho
{   
      
   font: 10px arial;
   float:left;
   bottom:0px;  

    
}
#cal #bm
{
    
    text-align: right;
    height: 0px;
    padding: 0 10px 0 0;
}
#cal #bm a
{
    color: 7977ce;
}
#cal #fd
{
    
    display: none;
    position: absolute;
    border: 1px solid #dddddf;
    background: #feffcd;
    padding: 10px;
    line-height: 18px;
    width: 150px;
}
#cal #fd b
{
    font-weight: normal;
    color: #c60a00;
}