@charset "utf-8";
/*弹出样式*/

body{font-size:12px;padding:0;margin:0;}
.pointer{cursor:pointer;}
.cen{text-align:center;}
.bold{font-weight:bold;}
.red{color:red;}
.hide{display:none;}
.block{display:block;}
.clear{clear:both;}
.w_all{filter:alpha(opacity=80);opacity:0.8;}
.shadow{left:0;top:0;width:100%;height:100%;background-color:#fff;filter:alpha(opacity=30);opacity:0.3;}
.shadow,.bluebirdWindow{position:absolute;}
.lrb_corner{width:7px;height:7px;background:url('../images/window/lrb_corner.gif') no-repeat;}
.moveposition{background-position:-6px 0;}
.b_bg{height:7px;background:url('../images/window/b_bg.gif') repeat-x;}
.t_bg{height:31px;background:url('../images/window/t_bg.gif') repeat-x;cursor:move;}
.w_center{padding:1px;}
.w_content{padding:10px;background-color:white;overflow:auto;}
.closediv{position:absolute;right:18px;float:right;width:44px;height:31px;z-index:100;}
.closeimg{height:19px;background:url('../images/window/close.gif') no-repeat;}
.closeimg_over{height:19px;background:url('../images/window/close.gif') 0 -19px no-repeat;cursor:pointer;}
.r_bg{width:7px;background:url('../images/window/r_bg.gif') repeat-y;}
.w_title{float:left;height:31px;background:url('../images/window/w_icon.gif') 10px 8px no-repeat;padding-left:30px;line-height:31px;font-size:12px;font-weight:bold;}
.l_bg{width:7px;background:url('../images/window/l_bg.gif') repeat-y;}
.w_imgtd{text-align:center; background-repeat:no-repeat;font-size:12px; font-family:Verdana,'微软雅黑'; height:30px;}
.btn{margin:0 5px 0 5px;width:67px;height:27px;border:none;background:url('../images/window/button_bg.gif') no-repeat;line-height:27px;}
.btn_over{background-position:0 -27px;}
.w_alert{background-image:url('../images/window/warn.gif');}
.w_confirm{background-image:url('../images/window/ask.gif');}
.w_error{background-image:url('../images/window/error.gif');}
.w_ok{background-image:url('../images/window/ok.gif');}
.w_info{background-image:url('../images/window/information.gif');}