BODY {
	SCROLLBAR-FACE-COLOR: #d9d9d9; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #d0d2c8; SCROLLBAR-3DLIGHT-COLOR: #000000; LINE-HEIGHT: 2; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #808080; FONT-FAMILY: "宋体"; SCROLLBAR-DARKSHADOW-COLOR: #000000; TEXT-DECORATION: none
}
.OnMouseOverTable {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; CURSOR: default; COLOR: #ff0000; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #dfdfdf; TEXT-DECORATION: none
}
.OnMouseOutTable {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; COLOR: #333333; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
TABLE {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体
}
A:link {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #0033cc; FONT-FAMILY: 宋体; TEXT-DECORATION: underline
}
.LM_Title {
	FONT-SIZE: 9pt; FILTER: Glow(Color=#000000, Strength=3); WIDTH: 100%; COLOR: #ffffff; LINE-HEIGHT: 21px; HEIGHT: auto
}
.LM_Copyright {
	FONT-SIZE: 9pt; FILTER: Glow(Color=#000000, Strength=2); WIDTH: 100%; COLOR: #ffffff; LINE-HEIGHT: 21px; HEIGHT: auto
}
.LM_Top_Title:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.LM_Top_Title:active {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.LM_Top_Title:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.LM_Top_Title:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ff0000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.LM_Site_Link:link {
	FONT-SIZE: 9pt; COLOR: #ff0000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.LM_Site_Link:active {
	FONT-SIZE: 9pt; COLOR: #ff0000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.LM_Site_Link:visited {
	FONT-SIZE: 9pt; COLOR: #ff0000; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.LM_Site_Link:hover {
	FONT-SIZE: 9pt; COLOR: #0033cc; FONT-FAMILY: 宋体; TEXT-DECORATION: underline
}
.LM_Login_Input {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: transparent
}
.LM_Down_Title:link {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.LM_Down_Title:active {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.LM_Down_Title:visited {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.LM_Down_Title:hover {
	FONT-SIZE: 10pt; COLOR: #ff0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
INPUT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-COLOR: #ffffff; FONT-FAMILY: "Verdana"; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000
}
TEXTAREA {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #ffffff; BORDER-TOP-COLOR: #000000; FONT-FAMILY: "Verdana"; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #ffffff
}
.red {
	FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.title {
	FONT-SIZE: 14px; COLOR: #ff6600; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.title2 {
	FONT-SIZE: 14px; COLOR: #ff3300; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.title3 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff3300; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
