<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- 连接字符串 -->
		<add key="SQLConnectionString" value="Data Source=.;Initial Catalog=ERP; Persist Security Info=True;User ID=sa;Password=lvcc"/>
		<!-- 设置ewebeditor中的编辑器 -->
		<add key="imagesfolder" value="~/WebEditorFile/"/>
		<add key="yuanimg" value="~/WebEditorFile/"/>
		<!-- 设置OA中的在线编辑保存，该路径指示OA所在的目录，根目录请留空 -->
		<add key="OARoot" value="/Web"/>
		<!-- 设置短信平台中的企业帐号-->
		<add key="enCode" value="C00000"/>
		<!-- 设置短信平台中的企业密码-->
		<add key="enPassword" value="000000"/>
		<!-- 设置短信平台中的用户名-->
		<add key="userName" value="SYS"/>
		<!-- 设置OA中登录是用 用户名 还是 登录账号 登录    0为登录账号   1为 用户名-->
		<add key="OALogin" value="0"/>
	</appSettings>
	<connectionStrings>
		<add name="ERPConnectionString" connectionString="Data Source=.\SQL2005;Initial Catalog=ERP; Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.VisualBasic.Compatibility, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
		<authentication mode="Windows"/>
		<globalization requestEncoding="GB2312" responseEncoding="GB2312"/>
	</system.web>
</configuration>
