 .test { color: #000000; font-family: "新宋体"; font-size: 12px; text-decoration: 
none}a:active { font-family: "新宋体"; font-size: 12px; font-style: normal; line-height: 
normal; font-weight: normal; font-variant: normal; color: #000000; text-decoration: 
none} 