@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>欢迎登录后台管理系统</title>
    <link href="~/Content/frame.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script language="javascript">
        $(function () {
            $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            $(window).resize(function () {
                $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            })
        });
    </script>
    <script type="text/javascript">
        // Cloud Float...
        var $main = $cloud = mainwidth = null;
        var offset1 = 450;
        var offset2 = 0;
        var offsetbg = 0;
        $(document).ready(
            function () {
                $main = $("#mainBody");
                $body = $("body");
                $cloud1 = $("#cloud1");
                $cloud2 = $("#cloud2");

                mainwidth = $main.outerWidth();

            }
        );
        /// 飘动
        setInterval(function flutter() {
            if (offset1 >= mainwidth) {
                offset1 = -580;
            }

            if (offset2 >= mainwidth) {
                offset2 = -580;
            }

            offset1 += 1.1;
            offset2 += 1;
            $cloud1.css("background-position", offset1 + "px 100px")

            $cloud2.css("background-position", offset2 + "px 460px")
        }, 70);
        setInterval(function bg() {
            if (offsetbg >= mainwidth) {
                offsetbg = -580;
            }

            offsetbg += 0.9;
            $body.css("background-position", -offsetbg + "px 0")
        }, 90);

    </script>
</head>

<body style="background-color:#1c77ac; background-image:url(/Content/images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">
    <div id="mainBody">
        <div id="cloud1" class="cloud"></div>
        <div id="cloud2" class="cloud"></div>
    </div>
    <div class="logintop">
        <span>欢迎使用后台管理系统</span>
        <ul>
            <li><a href="#">技术支持</a></li>
            <li><a href="#">帮助</a></li>
            <li><a href="#">关于</a></li>
        </ul>
    </div>
    <div class="loginbody">
        <span class="systemlogo"></span>
        <div class="loginbox">
            <ul>
                <li><input name="" type="text" class="loginuser" value="admin" onclick="JavaScript:this.value=''" /></li>
                <li><input name="" type="text" class="loginpwd" value="密码" onclick="JavaScript:this.value=''" /></li>
                <li><input name="" type="button" class="loginbtn" value="登录"  /><label><input name="" type="checkbox" value="" checked="checked" />记住密码</label><label><a href="#">忘记密码？</a></label></li>
            </ul>
        </div>
    </div>
    <div class="loginbm">建议使用IE8+、火狐、谷歌等主流浏览器登录该系统</div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $(".loginbtn").click(function () {
            var usercode = $(".loginuser").val();
            var userpwd = $(".loginpwd").val();
            $.post("/Account/CheckLogin", { usercode: usercode, userpwd: userpwd }, function (data, status) {
                if (status == "success" && data.Code == '1') {
                    window.location.href = "/";
                }
                else {
                    alert("登录失败！");
                }
               
            });
        });
    });
</script>
