<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="FCKeditor:BasePath" value="~/kfckeditor/"/>
		<add key="FCKeditor:UserFilesPath" value="~/Files/"/>
	</appSettings>
	<connectionStrings>
    
		<add name="fashionConnectionString" connectionString="User ID=sa;Initial Catalog=fashionshopping;Data Source=.;Password=lvcc" providerName="System.Data.SqlClient"/>
    
    
	</connectionStrings>
	<system.web>
    
		
    <sessionState timeout="30"></sessionState>
		<compilation debug="true" >
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
		</compilation>

		<authentication mode="Forms"/>
    
    

	</system.web>
	<system.codedom>
	</system.codedom>
	<system.webServer>
	</system.webServer>
</configuration>
