@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
img{ vertical-align:bottom; border:0}
a:link,
a:visited{ text-decoration:none;}
a:hover,
a:active{ text-decoration:underline;}
a img{ border:0;}
input,textarea,select{ vertical-align:middle;font-size:12px;margin:3px 0;}
body{ text-align:center; font-family:Arial, "宋体", sans-serif;font-size:12px;}

/*====login.html====*/
body#loginPage{ background: url(../images/loginPage_bg.jpg) repeat-x #DEEBF5;}
body#loginPage #login{ background:url(../images/login_bg.jpg) no-repeat ;width:600px; height:324px; position:absolute; top: 50%; left:50%; margin:-162px 0 0 -300px;}
body#loginPage #tips{ float:left; width:230px;padding:160px 24px 0 24px; text-align:left; color:#6174AF;}
body#loginPage #tips a{ color:#6174AF;}
body#loginPage #tips a:hover{ color:#6174AF;}
body#loginPage .support{ padding-top:36px;}
body#loginPage  #loginForm{ margin-top:124px;padding:30px 24px 45px 24px; color:#1B4F9A; float:left; text-align:left; background:url(../images/loginForm_bg.jpg) left top no-repeat;}
body#loginPage #loginForm img{ vertical-align:middle;}
body#loginPage .inputTxt{ border: 1px solid #94BCEA; width:190px; }
body#loginPage #loginForm th{ font-weight:bold;}
body#loginPage .submitBtn{ width:85px; background:url(../images/submitBtn.jpg) left top no-repeat; border:none; height:24px; line-height:24px; font-weight:bold;}

/*===top.html===*/
#topPage { text-align:left;}
#topPage div{ position:relative;}
#topPage div p.login{ position: absolute; right:20px;top:10px;color:#fff;font-weight:bold;}
#topPage div p.login a{color:#fff;padding:0 12px;}
#topPage table{ background:url(../images/top_bg.jpg) left top repeat-x;}
#topPage p.btn{ background:url(../images/buttom.jpg) left top repeat-x; line-height:2em; font-weight:bold; color:#1B4F9A; border-bottom:1px solid #398ECF;}
#topPage p.btn span{ margin:0 18px;padding-left:24px;background:url(../images/ico01.gif) no-repeat;}
#topPage p.btn a{ color:#1B4F9A;}
#topPage p.btn a:hover{ color:#1b4ffa;}

/*====left.html===*/
#leftPage{text-align:left;}
#btnFrame{width:168px; overflow:scroll}
/*--------------------------------------------------|
| dTree 2.05 | www.destroydrop.com/javascript/tree/ |
|---------------------------------------------------|
| Copyright (c) 2002-2003 Geir Landr枚               |
|--------------------------------------------------*/
#leftPage .dtree {	font-family: Verdana, Geneva, Arial, Helvetica, "宋体", sans-serif;	font-size: 12px;	color: #666;	white-space: nowrap; padding:1em 0 0 0em;line-height:1.0em;}
#leftPage .dtree img {	border: 0px;	vertical-align: middle;}
#leftPage .dtree a {	color: #333;	text-decoration: none;}
#leftPage .dtree a.node, .dtree a.nodeSel {	white-space: nowrap;	padding: 1px 2px 1px 0px;}
#leftPage .dtree a.node:hover, .dtree a.nodeSel:hover {	color: #333;	text-decoration: underline;}
#leftPage .dtree a.nodeSel {	background-color: #c0d2ec;}
#leftPage .dtree .clip {	overflow: hidden;}

/*===btn.html===*/
#btnPage table{ font-size:8px;background:url(../images/btnPage_bg.jpg) left top repeat-y #91C5EC; }

/*==bottom.html==*/
#buttomPage{background:url(../images/buttom.jpg) left top repeat-x;}
#buttomPage p{border-top:1px solid #94bcea;text-align:left;padding:0 24px;line-height:23px; color:#547bb7}
#buttomPage span{float:right;font-size:11px;padding-right:18px;background:url(../images/buttom_logo.gif) right center no-repeat; }
#buttomPage a{color:#547bb7;font-size:11px;}

