<?xml version="1.0"?>
<SiteInfoConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SiteName>Ingellen Technology Co., Ltd</SiteName>
  <SiteTitle>Ingellen Technology Co., Ltd</SiteTitle>
  <SiteURL />
  <CopyRight>1</CopyRight>
  <MetaKeywords />
  <MetaDescription>Ingellen Technology Co., Ltd</MetaDescription>
</SiteInfoConfig>